// Theme colors
$black: #000;
$white: #fff;

$whiteSmoke: #f3f3f3;
$airforceBlue: #5a829e;
$cornellRed: #a4161a;
$cornellRed2: #b5171a;
$berkeleyBlue: #082d53;
$jet: #333333;
$night: #111;
$spaceCadet: #283249;
$erieBlack: #161a1d;
